{{ form_start(form) }}

 <div class="row">
                                        <div class="col-md-4">
                                            <div class="product-search">
                                            {{form_widget(form.q)}}
                                                <button><i class="fa fa-search"></i></button>
                                            </div>
                               
                                            {{form_widget(form.categories)}}
                                                
                                           
                                       
                                        </div>
   </div>
         

{{ form_end(form) }}