{% extends 'baseProduitBack.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <h1>Creer nouveau produit</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('app_produit_index') }}">back to list</a>
{% endblock %}
