<form>
	<input type="hidden" name="_method" value="PUT">
	<button type="submit" class="bn632-hover bn20">
		<span class="mdi mdi-delete mdi-24px"></span>
		<span class="mdi mdi-delete-empty mdi-24px"></span>
		<span>Deactivate</span>
	</button>
</form>
{# action="{{ path('app_user_desactive', {'id': user.id}) }}" method="POST" #}
